* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    padding-top: 3rem;
    font-family: "Montserrat", sans-serif;
    background: url("Images/introbg.jpeg") center/cover no-repeat;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
  }
  
  .pagebg {
    background: #000;
    max-width: 86%;
    height: 88vh;
    color: rgb(0, 175, 175);
    margin: auto;
    border: 0.3rem solid cyan;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
  }
  
  h1{
    color: rgb(255, 28, 28);
  }

  a{
    color:rgb(0, 175, 175);
    text-decoration: none;
  }
  